import(heatmap.plus)
importFrom("grDevices", "grey")
importFrom("graphics", "image")
importFrom("stats", "dnorm", "heatmap", "median")
importFrom("ExPosition", "chi2Dist")
importFrom("alluvial","alluvial")
exportPattern("^[^\\.]") 
